.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  background-image: url('../assets/result_screen_img.png');
  background-size: cover;
  background-position: center;
}


.card {
  background: none;
  border-radius: 16px;
  padding: 60px 40px;
  text-align: center;
  max-width: 700px;
  width: 100%;
  animation: slideIn 0.5s ease;
  position: relative;
  z-index: 1;
}

/* отлично или хорошо — зелёный */
.result_excellent .scoreNumber {
  color: #465E44;
}

/* средний — жёлтый */
.result_okay .scoreNumber {
  color: #e6b800;
}

/* плохо — красный */
.result_poor .scoreNumber{
  color: #813334;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.resultIcon {
  font-size: 5rem;
  margin-bottom: 20px;
  animation: bounce 0.6s ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.title {
  font-size: 2.5rem;
  margin: 0 0 30px 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #453A26;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 700;
}

.scoreNumber {
  color: #fff;
}

.scoreDivider {
  color: #ccc;
}

.scoreTotal {
  color: #465E44;
}

.percentage {
  font-size: 1.2rem;
  color: #453A26;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  font-family: 'Anticva', sans-serif;
  background: rgb(93, 30, 0, 15%);
  color: #000;
  border: solid #5D1E00 2px;
  padding: 16px 32px;
  font-size: 1.1rem;
  border-radius: 2px;
  cursor: pointer;
  font-weight: normal;
  transition: transform 0.2s, box-shadow 0.2s;
  text-transform: uppercase;
  width: 100%;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(0);
}

.buttonSecondary {
  font-family: 'Anticva', sans-serif;
  background: rgb(93, 30, 0, 15%);
  color: #000;
  border: solid #5D1E00 2px;
  padding: 16px 32px;
  font-size: 1.1rem;
  border-radius: 2px;
  cursor: pointer;
  font-weight: normal;
  transition: transform 0.2s, box-shadow 0.2s;
  text-transform: uppercase;
  width: 100%;
}

.buttonSecondary:hover {
  transform: translateY(-2px);
}

.buttonSecondary:active {
  transform: translateY(0);
}
